# Web & API (FastAPI + Uvicorn)
fastapi
uvicorn
python-multipart
requests
python-dotenv
httpx

# Streamlit & UI
streamlit
streamlit-mic-recorder
streamlit-geolocation

# AI & Data
groq
pydantic
sqlmodel
datasets
pandas
numpy

# Audio Processing (Crucial for Python 3.13)
scipy
noisereduce
gTTS
audioop-lts
SpeechRecognition
pyttsx3

# Document & File Handling
PyPDF2
python-docx
py7zr
pillow

# Location & Mapping
geopy
