# Web Frameworks
fastapi
uvicorn
streamlit
requests
python-dotenv

# AI & Data Models
groq
sqlmodel
datasets
pydantic

# Document & File Processing
PyPDF2
python-docx
py7zr
pillow

# Audio & Voice Processing
scipy
noisereduce
gTTS
pyttsx3
audioop-lts
SpeechRecognition

# Data Science & Location
pandas
numpy
geopy

# Streamlit Components
streamlit-mic-recorder
streamlit-geolocation
